{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block body %}
<link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/sandstone/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/producer_form.css' %}">

<br><br>
<h1>Add Producer with Products</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h2>Producer Information</h2>
    {{ producer_form|crispy }}

    <h2>Products</h2>
    <div id="formset-container">
        {{ product_formset.management_form }}
        {% for form in product_formset %}
            <div class="form-row">
                {{ form|crispy }}
            </div>
        {% endfor %}
    </div>
    <div id="id_product_set-TOTAL_FORMS"></div>
    <button type="button" id="add-more" class="btn">Add More</button>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<div class="form-row empty-form">
    {{ product_formset.empty_form|crispy }}
</div>

<script>
    // JavaScript for adding a new product form when clicking "Add More"
    document.addEventListener("DOMContentLoaded", function() {
        const addMoreButton = document.getElementById('add-more');
        const totalForms = document.getElementById('id_product_set-TOTAL_FORMS');

        if (addMoreButton) {
            addMoreButton.addEventListener('click', function() {
                const formsetContainer = document.getElementById('formset-container');

                if (!totalForms) {
                    console.error('Total Forms ID NOT Found');
                    return;
                }

                const newFormNum = parseInt(totalForms.value);
                const newFormHtml = document.querySelector('.empty-form').innerHTML.replace(/__prefix__/g, newFormNum);

                const newFormElement = document.createElement('div');
                newFormElement.classList.add('form-row');
                newFormElement.innerHTML = newFormHtml;
                formsetContainer.appendChild(newFormElement);

                // Increment the total forms count
                totalForms.value = newFormNum + 1;
            });
        } else {
            console.error('Add More Button NOT Found');
        }
    });
</script>

{% endblock %}
