{% extends 'base.html' %}



{% block body %}
    <br><br><br><br><br>
    <section id="search-bars">
        <form class="d-flex mt-3" role="search" method="get" action="{% url 'home:advanced_search' %}">
            <input class="form-control me-2" name="name" type="search" placeholder="name" aria-label="Search">

            <input class="form-control me-2" name="producer" type="search" placeholder="producer" aria-label="Search">

            <input class="form-control me-2" name="min_price" type="search" placeholder="min price" aria-label="Search">

            <input class="form-control me-2" name="max_price" type="search" placeholder="max price" aria-label="Search">

            <input class="form-control me-2" name="description" type="search" placeholder="description" aria-label="Search">

            <input class="form-control me-2" name="category" type="search" placeholder="Category" aria-label="Search">

            <button class="btn btn-success" type="submit">Search</button>
        </form>
    </section>



    <h2>Search Results</h2>
    {% if products %}
    <div class="product-grid">
        {% for product in products %}
            <article class="product">
                <a href="{% url 'home:product_detail' product.id %}">
                    <div class="product-image">
                        <img src="{{ product.image.url }}" alt="Product image">
                    </div>
                </a>

                <h3>{{ product.name }}</h3>
                <h3>${{ product.price }}</h3>
                <p>{{ product.description }}</p>
                <div class="btn-container">
                    <button class="btn-buy">Buy Now</button>
                    <a href="{% url 'basket:basket_add' product.id %}"><button class="btn-buy">Add to basket</button></a>
                    <a href="{% url 'home:wish_list_add' product.id %}"><button class="btn-buy">Add to With List</button></a>
                </div>
            </article>
        {% endfor %}
    </div>


    {% endif %}


{% endblock %}
