{% load static %}

<link rel="stylesheet" href="{% static 'css/product_detail_modal.css' %}">

<div class="modal">
   <div class="modal__box">
       <h2>Modal Window</h2>

       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, tenetur voluptatem! Architecto ducimus labore magnam minus porro quibusdam sunt voluptates!</p>

       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur ex excepturi illo quos? Doloremque ducimus esse ex expedita ipsum necessitatibus, porro praesentium tenetur voluptates voluptatum! A accusamus animi consequuntur doloremque esse nam numquam quidem sint ullam velit. Aliquam doloribus eius id in nulla officiis perferendis placeat quisquam repellendus, repudiandae? Aliquid beatae consequuntur exercitationem facere, facilis fuga inventore maxime nemo optio quae, quas quo. Alias architecto delectus, eaque illo iure iusto, neque, officia officiis quidem sequi sit veniam veritatis? Aliquam at consectetur culpa debitis dolorem ducimus fugit harum impedit libero, nisi optio qui quibusdam quos reiciendis, rerum saepe tempora, ullam voluptate.</p>

   </div>
</div>