{% extends 'base.html' %}

{% load static %}


{% block body %}

    <link rel="stylesheet" href="{% static 'css/categories.css' %}">

    <br><br><br><br>
    <div class="categories-page">
        <h1 class="page-title">Categories</h1>
        <div class="categories-container">
            {% for category in categories %}
                <div class="category-card">
                    <a href="{% url 'category:category_detail' category.id %}" class="category-link">
                        <div class="category-image">
                            <img src="{{ category.image.url }}" alt="{{ category.name }}">
                        </div>
                        <h3 class="category-name">{{ category.name }}</h3>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}
