<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>Hardware Web Magazine</title>{% endblock %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div id="overlay" class="overlay"></div>

    <!-- Top Bar -->
    <header class="top-bar">
        <div class="top-bar-left">
            <button class="toggle-btn" onclick="toggleSidebar()">☰</button>
        </div>
        <div class="top-bar-center">
            <form action="{% url 'home:search' %}" method="get" class="search-form">
                <input type="text" name="search" placeholder="Search products..." class="search-bar">
                <button type="submit" style="display: none;">Search</button>
            </form>
        </div>
        <div class="top-bar-right">
            {% if not request.user.is_authenticated %}
                <a href="{% url 'users:register' %}"><button class="login-btn">Register</button></a>
                <a href="{% url 'users:login' %}"><button class="login-btn">Login</button></a>
            {% else %}
                <a href="{% url 'users:profile' %}"><button class="login-btn">Profile</button></a>
                <a href="{% url 'users:logout' %}"><button class="login-btn">logout</button></a>
            {% endif %}
        </div>
    </header>

    <!-- Sidebar -->
    <aside id="sidebar" class="sidebar">
        <ul>
            <li><a href="{% url 'home:home' %}"><h4>Home</h4></a></li>
            <li><a href="{% url 'producer:producers' %}"><h4>Producers</h4></a></li>
            <li><a href="{% url 'category:categories' %}"><h4>Categories</h4></a></li>

            {% if request.user.is_authenticated %}
                <li><a href="{% url 'home:wish_list' %}"><h4>Wish List</h4></a></li>
            {% endif %}

            <li><a href="{% url 'basket:basket' %}"><h4>My Basket</h4></a></li>
            <li><a href="{% url 'home:advanced_search' %}"><h4>Advanced Search</h4></a></li>
            <li><br><a href="{% url 'home:about_us' %}"><h4>About us</h4></a></li>
        </ul>
    </aside>

    {% block body %} {% endblock %}


<footer>
        <div class="container">
            <p>&copy; 2024 Hardware World Magazine. All rights reserved.</p>
        </div>
    </footer>

    <script src="{% static 'js/scripts.js' %}"></script>

    {% block include_js %}
    {% endblock %}
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            {% block domready %}
            {% endblock %}
        })
    </script>

</body>
</html>