{% extends 'base.html' %}

{% load static %}


{% block body %}

    <link rel="stylesheet" href="{% static 'css/basket.css' %}">

    <br><br>
    <div class="basket-container">
        <h1 class="basket-title">Your Basket</h1>

        {% if baskets %}
            <div class="total-sum">
                <h2>Total Price: ${{ total_sum|floatformat:2 }}</h2>
            </div>

            {% for basket in baskets %}
                <div class="basket-item">
                    <a href="{% url 'home:product_detail' basket.product.id %}">
                        <img src="{{ basket.product.image.url }}" alt="Product Image" class="basket-product-image">
                    </a>

                    <div class="basket-item-details">
                        <h3 class="product-name">{{ basket.product.name }}</h3>
                        <p class="producer">Producer: {{ basket.product.producer }}</p>
                        <p class="category">Category: {{ basket.product.category }}</p>
                        <p class="price">Price: ${{ basket.product.price }}</p>
                        <div class="quantity-container">
                            <a href="{% url 'basket:arrow_up' basket.product.id %}"><button class="quantity-btn" id="decrease-btn">▲</button></a>
                            {{ basket.quantity }}
                            <a href="{% url 'basket:arrow_down' basket.product.id %}"><button class="quantity-btn" id="increase-btn">▼</button></a>
                        </div>
                        <br>
                        <a href="{% url 'basket:basket_delete' basket.product.id %}">
                            <button class="delete-btn">Delete from Basket</button>
                        </a>
                    </div>
                </div>
            {% endfor %}

        {% else %}
            <h1 class="empty-basket">Your Basket is Empty</h1>
            <a href="{% url 'home:home' %}">
                <button class="continue-shopping-btn">Continue Shopping</button>
            </a>
        {% endif %}
    </div>

{% endblock %}
